*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-item :hover
{
    border-bottom: 2px solid #8e2de2;
}

.dropdown :hover
{
    border: none;
}

#parent
{
    position: relative;
    width: 100%;
}

#parent img{
    position: absolute;
    z-index: -1;
}

.contact
{
    width: 90%;
    margin: auto;
    left: 50%;
    padding: 20px;
    margin-top: -180px;
    background-color: white;
}

.contact-img
{
    top: -10%;
    margin: 0;
    padding: 0;
    z-index: 8;
}

.active1
{
    border-bottom: 2px solid #8e2de2;
    transition: .3s;
}

.active1:hover
{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact_heading
{
    text-align: center;
}

.contact_button
{
    background-color:#17202A;
    color: white;
    padding: 10px 40px 10px 52px;
    border-radius: 0px 20px 0px 20px;
    border: none;
    outline: none;
}

.contact_button:hover
{
    background-color: #8E2DE2;
}

.contact_button:focus{
    outline: bisque;
}

.career_hover
{
    transition: .4s;
}

.career_hover:hover
{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);   
}

.career_image
{
    margin: auto;
    background-color: white;
    width: 70%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 40px 0px 40px 0px;
    padding: 20px;
    z-index: 10;
    transition: transform .4s;
    position: relative;
}

.career_image:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    color:  #8E2DE2;
  }

.career_text
{
    position: relative;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);   
    width: 90%;
    height: 200px;
    margin: auto;
    border-radius: 60px 60px 0px 0px;
    text-align: center;
    color: white;
    margin-top: -50px;
    transition: 0.4s;
}

.career_text:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.home_craft
{
    border: 1px solid lightgrey;
    padding: 12%;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    text-align: justify;
    transition: .4s;
}

.home_craft_image
{
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    padding: 10px;
    border-radius: 10px; 
    transition: .4s; 
}

.home_craft:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

.home_craft_image:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

.about_design_right
{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    border-radius: 100px 0px 0px 0px;   
    transition: transform .4s;
}

.about_design_left
{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    border-radius: 0px 0px 100px 0px;   
    transition: transform .4s;
}

.about_design_left:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

.about_design_right:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

.about_image_right
{
    margin: auto;
    background-color: white;
    width: 80%;
    position: relative;
    top: 25%;
    right: 50%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 40px 0px 40px 0px;
    padding: 20px;
    padding-top: 50px;
    z-index: 1;
    transition: transform .4s;
}

.about_image_left
{
    margin: auto;
    background-color: white;
    width: 80%;
    position: relative;
    top: 25%;
    left: 50%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 40px 0px 40px 0px;
    padding: 20px;
    padding-top: 50px;
    z-index: 1;
    transition: transform .4s;
}

.about_image_left:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

.about_image_right:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    color:  #8E2DE2;
}

@media only screen and (max-width: 1400px) 
{ 
    #hide_image{ 
      display: none; 
    } 
}

.posts
{
    color: #9900ff;
    text-align: center;
    font-weight: bold;
    padding: 25px;
}

.services_bar_div
{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);    
    width: 92%; 
    margin: auto; 
    height: 170px;
    color: white;
    border-radius: 20px 60px 20px 20px;
    transition: .5s;
}

.services_bar_div:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    background: white;
    color: #8E2DE2;
    border: 2px solid lightgrey;
}

.services_bar_div:hover img 
{
    border: 2px solid #8E2DE2;
}

.services_bar_image
{
    padding-right: 5%; 
    float: left;
}

.services_bar_odd_div
{
    color: white;
    width: 92%; 
    margin: auto; 
    height: 150px;
    color:  #8E2DE2;
    border-radius: 20px 60px 20px 20px;
    transition: .5s;
    border: 3px solid lightgrey;
}

.services_bar_odd_div:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2); 
    color: white;
    border: 3px solid lightgrey;
}

.services_bar_image
{
    padding-right: 5%; 
    float: left;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion:hover {
    background-color: #8e2de2;
    color: white;
    border: none;
  }
  
  .accordion:after {
    content: '\002B';
    color: #fffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: none;
  }
  
  .accordion:hover:after {
    content: "\2212";
    color: white;
  }
  
  .panel {
    padding: 2px 2%;
    background-color: #E5E4E2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    opacity: 0.6;
    color: black;
  }

.bottom-first
{
    bottom: -10px;
    z-index: 10;
    position: relative;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);    
    color: white;
    margin: auto;
    width: 80%;
    padding: 40px 30px 30px 30px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    margin-bottom: -100px;
    transition: 0.4s;
}

.bottom-first:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.footer 
{
    width: 100%;
    padding: 20px;
    padding-top: 150px;
    bottom: 0;
    background-color: #000000;
    color: white;
    margin-bottom: 0;
}

.footer_links
{
    margin-left:-30px; 
    text-decoration: none; 
    color: #697477;
    transition: .4s;
}

.footer_links:hover
{
    color: white;
}

.socialmedia_links
{
    color: #697477;
    margin-left: -5px;
    font-size: 25px;
}

.socialmedia_links:hover
{
    color: white;
}